<a href="https://colab.research.google.com/github/shloak17107/airline-delay-prediction/blob/Data-Preprocessing/CMPE_257_Airline_Delays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOADING THE DATASET FROM KAGGLE WEBSITE

In [3]:
!pip install kagglehub -q


import kagglehub
import pandas as pd
import os

print("Downloading dataset...")
dataset_path = kagglehub.dataset_download('sherrytp/airline-delay-analysis')
print(f"Dataset downloaded to: {dataset_path}")

Downloading dataset...
Dataset downloaded to: /kaggle/input/airline-delay-analysis

In [29]:
gltaboada_usdpttransport_bts_carriers_path = kagglehub.dataset_download('gltaboada/usdpttransport-bts-carriers')
print(f"Dataset downloaded to: {gltaboada_usdpttransport_bts_carriers_path}")

Downloading from https://www.kaggle.com/api/v1/datasets/download/gltaboada/usdpttransport-bts-carriers?dataset_version_number=1...

100%|██████████| 17.6k/17.6k [00:00<00:00, 35.4MB/s]

Extracting files...
Dataset downloaded to: /root/.cache/kagglehub/datasets/gltaboada/usdpttransport-bts-carriers/versions/1

In [30]:
!ls -lh "$gltaboada_usdpttransport_bts_carriers_path"

total 52K
-rw-r--r-- 1 root root 50K Apr 30 03:13 L_UNIQUE_CARRIERS.csv

In [37]:
gltaboada_usdpttransport_bts_carriers_path = gltaboada_usdpttransport_bts_carriers_path + "/L_UNIQUE_CARRIERS.csv"

In [38]:
!ls -lh "$gltaboada_usdpttransport_bts_carriers_path"

-rw-r--r-- 1 root root 50K Apr 30 03:13 /root/.cache/kagglehub/datasets/gltaboada/usdpttransport-bts-carriers/versions/1/L_UNIQUE_CARRIERS.csv

IMPORTING LIBRARIES

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

LOADING THE DATA INTO MEMORY + INFO

In [5]:
!ls -lh "$dataset_path"

total 0
drwxr-sr-x 2 1000 1000 0 Apr 29 15:03 'airline delay analysis'

In [6]:
!ls -lh "$dataset_path/airline delay analysis/"

total 8.2G
-rw-r--r-- 1 1000 1000 756M Apr 29 15:05 2009.csv
-rw-r--r-- 1 1000 1000 758M Apr 29 15:05 2010.csv
-rw-r--r-- 1 1000 1000 713M Apr 29 15:05 2011.csv
-rw-r--r-- 1 1000 1000 740M Apr 29 15:05 2012.csv
-rw-r--r-- 1 1000 1000 751M Apr 29 15:05 2013.csv
-rw-r--r-- 1 1000 1000 687M Apr 29 15:05 2014.csv
-rw-r--r-- 1 1000 1000 686M Apr 29 15:05 2015.csv
-rw-r--r-- 1 1000 1000 663M Apr 29 15:05 2016.csv
-rw-r--r-- 1 1000 1000 670M Apr 29 15:05 2017.csv
-rw-r--r-- 1 1000 1000 852M Apr 29 15:05 2018.csv
-rw-r--r-- 1 1000 1000 772M Apr 29 15:05 2019.csv
-rw-r--r-- 1 1000 1000 255M Apr 29 15:03 20.csv

In [7]:
data_directory = dataset_path + "/airline delay analysis/"

In [8]:
file = "2009.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2009 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2009.shape}")
df_2009.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2009.csv
Shape (rows, columns): (6429338, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6429338 entries, 0 to 6429337
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.3+ GB

In [9]:
file = "2010.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2010 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2010.shape}")
df_2010.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2010.csv
Shape (rows, columns): (6450117, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6450117 entries, 0 to 6450116
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.3+ GB

In [10]:
file = "2011.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2011 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2011.shape}")
df_2011.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2011.csv
Shape (rows, columns): (6066650, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6066650 entries, 0 to 6066649
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.3+ GB

In [11]:
file = "2012.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2012 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2012.shape}")
df_2012.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2012.csv
Shape (rows, columns): (6096762, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6096762 entries, 0 to 6096761
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         float64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         float64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(22), int64(1), object(5)
memory usage: 1.3+ GB

In [12]:
file = "2013.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2013 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2013.shape}")
df_2013.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2013.csv
Shape (rows, columns): (6369482, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6369482 entries, 0 to 6369481
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.3+ GB

In [13]:
file = "2014.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2014 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2014.shape}")
df_2014.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2014.csv
Shape (rows, columns): (5819811, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819811 entries, 0 to 5819810
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.2+ GB

In [14]:
file = "2015.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2015 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2015.shape}")
df_2015.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2015.csv
Shape (rows, columns): (5819079, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.2+ GB

In [15]:
file = "2016.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2016 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2016.shape}")
df_2016.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2016.csv
Shape (rows, columns): (5617658, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5617658 entries, 0 to 5617657
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.2+ GB

In [16]:
file = "2017.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2017 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2017.shape}")
df_2017.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2017.csv
Shape (rows, columns): (5674621, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5674621 entries, 0 to 5674620
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.2+ GB

In [17]:
file = "2018.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2018 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2018.shape}")
df_2018.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2018.csv
Shape (rows, columns): (7213446, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.5+ GB

In [18]:
file = "2019.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2019 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2019.shape}")
df_2019.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/2019.csv
Shape (rows, columns): (7422037, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7422037 entries, 0 to 7422036
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_UNIQUE_CARRIER    object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   DEP_TIME             float64
 6   DEP_DELAY            float64
 7   TAXI_OUT             float64
 8   WHEELS_OFF           float64
 9   WHEELS_ON            float64
 10  TAXI_IN              float64
 11  ARR_TIME             float64
 12  ARR_DELAY            float64
 13  AIR_TIME             float64
 14  DISTANCE             float64
 15  CARRIER_DELAY        float64
 16  WEATHER_DELAY        float64
 17  NAS_DELAY            float64
 18  SECURITY_DELAY       float64
 19  LATE_AIRCRAFT_DELAY  float64
 20  Unnamed: 20          float64
dtypes: float64(16), int64(1), object(4)
memory usage: 1.2+ GB

In [19]:
file = "20.csv"
full_path = os.path.join(data_directory, file)
print(f"Attempting to load: {full_path}")
df_2020 = pd.read_csv(full_path, low_memory=False)
print(f"Shape (rows, columns): {df_2020.shape}")
df_2020.info()

Attempting to load: /kaggle/input/airline-delay-analysis/airline delay analysis/20.csv
Shape (rows, columns): (2547574, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547574 entries, 0 to 2547573
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         float64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         float64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    float64
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(23), int64(1), object(4)
memory usage: 544.2+ MB

PREPARE AND MERGE YEARLY DATA

In [20]:
# 1. Rename column in df_2019 for consistency
try:
    if 'OP_UNIQUE_CARRIER' in df_2019.columns:
        df_2019.rename(columns={'OP_UNIQUE_CARRIER': 'OP_CARRIER'}, inplace=True)
        print("Renamed 'OP_UNIQUE_CARRIER' to 'OP_CARRIER' in df_2019.")
    else:
        print("Column 'OP_UNIQUE_CARRIER' not found in df_2019 (already named OP_CARRIER or missing?).")
except NameError:
    print("Warning: df_2019 does not seem to be defined.")
except Exception as e:
    print(f"An error occurred renaming column in df_2019: {e}")

Renamed 'OP_UNIQUE_CARRIER' to 'OP_CARRIER' in df_2019.

In [21]:
merged_df = pd.concat([df_2009, df_2010, df_2011, df_2012, df_2013,
                       df_2014, df_2015, df_2016, df_2017, df_2018,
                       df_2019, df_2020],
                      ignore_index=True)

In [22]:
print(f"Shape (rows, columns): {merged_df.shape}")

Shape (rows, columns): (71526575, 29)

In [23]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71526575 entries, 0 to 71526574
Data columns (total 29 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         float64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         float64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
 28  Unnamed: 20          float64
dtypes: float64(23), int64(1), object(5)
memory usage: 15.5+ GB

In [24]:
columns_to_drop = ['Unnamed: 27', 'Unnamed: 20']
merged_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [25]:
print(f"Shape (rows, columns): {merged_df.shape}")
merged_df.head()

Shape (rows, columns): (71526575, 27)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2009-01-01,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,18.0,1116.0,...,0.0,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN
1,2009-01-01,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,28.0,1537.0,...,0.0,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN
2,2009-01-01,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,20.0,1119.0,...,0.0,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,XE,1208,DCA,EWR,1240.0,1249.0,9.0,10.0,1259.0,...,0.0,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN
4,2009-01-01,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,24.0,1729.0,...,0.0,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN

DATASET

In [26]:
# Converting the FL_DATE column to datetime, to extract the day, month, year and weekday
merged_df['FL_DATE'] = pd.to_datetime(merged_df['FL_DATE'], errors='coerce')

# Incase, unable to parse dates
parsing_errors = merged_df['FL_DATE'].isnull().sum()
if parsing_errors > 0:
    print(f"Warning: {parsing_errors} rows had FL_DATE values that could not be parsed.")
else:
    print("FL_DATE column successfully converted to datetime.")

# Adding 'DayOfWeek' (Monday=0, Sunday=6)
merged_df['DAY_OF_WEEK'] = merged_df['FL_DATE'].dt.dayofweek

# Adding 'Date' (which is the day of the month)
merged_df['DATE'] = merged_df['FL_DATE'].dt.day

# Adding 'Month' (1-12)
merged_df['MONTH'] = merged_df['FL_DATE'].dt.month

# Adding 'Year'
merged_df['YEAR'] = merged_df['FL_DATE'].dt.year

FL_DATE column successfully converted to datetime.

In [28]:
merged_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DAY_OF_WEEK,DATE,MONTH,YEAR
0,2009-01-01,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,18.0,1116.0,...,199.0,NaN,NaN,NaN,NaN,NaN,3,1,1,2009
1,2009-01-01,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,28.0,1537.0,...,213.0,NaN,NaN,NaN,NaN,NaN,3,1,1,2009
2,2009-01-01,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,20.0,1119.0,...,199.0,NaN,NaN,NaN,NaN,NaN,3,1,1,2009
3,2009-01-01,XE,1208,DCA,EWR,1240.0,1249.0,9.0,10.0,1259.0,...,199.0,NaN,NaN,NaN,NaN,NaN,3,1,1,2009
4,2009-01-01,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,24.0,1729.0,...,213.0,NaN,NaN,NaN,NaN,NaN,3,1,1,2009

In [40]:
carriers = pd.read_csv(gltaboada_usdpttransport_bts_carriers_path)
carriers.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

In [41]:
merged_df = pd.merge(merged_df,
                     carriers,
                     left_on='OP_CARRIER',
                     right_on='Code',
                     how='left')

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DAY_OF_WEEK,DATE,MONTH,YEAR,Code,Description
0,2009-01-01,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,18.0,1116.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
1,2009-01-01,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,28.0,1537.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
2,2009-01-01,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,20.0,1119.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
3,2009-01-01,XE,1208,DCA,EWR,1240.0,1249.0,9.0,10.0,1259.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
4,2009-01-01,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,24.0,1729.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.

In [42]:
merged_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DAY_OF_WEEK,DATE,MONTH,YEAR,Code,Description
0,2009-01-01,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,18.0,1116.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
1,2009-01-01,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,28.0,1537.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
2,2009-01-01,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,20.0,1119.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
3,2009-01-01,XE,1208,DCA,EWR,1240.0,1249.0,9.0,10.0,1259.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
4,2009-01-01,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,24.0,1729.0,...,NaN,NaN,NaN,NaN,3,1,1,2009,XE,ExpressJet Airlines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71526570,2020-06-30,MQ,3312,CVG,DFW,1010.0,-5.0,10.0,1020.0,1132.0,...,NaN,NaN,NaN,NaN,1,30,6,2020,MQ,Envoy Air
71526571,2020-06-30,MQ,3313,DFW,CRP,1834.0,-1.0,16.0,1850.0,1945.0,...,NaN,NaN,NaN,NaN,1,30,6,2020,MQ,Envoy Air
71526572,2020-06-30,MQ,3314,DFW,LIT,1440.0,-5.0,12.0,1452.0,1542.0,...,NaN,NaN,NaN,NaN,1,30,6,2020,MQ,Envoy Air
71526573,2020-06-30,MQ,3315,FSM,DFW,651.0,-9.0,10.0,701.0,742.0,...,NaN,NaN,NaN,NaN,1,30,6,2020,MQ,Envoy Air
71526574,2020-06-30,MQ,3316,BUF,DFW,636.0,-9.0,11.0,647.0,832.0,...,NaN,NaN,NaN,NaN,1,30,6,2020,MQ,Envoy Air

In [47]:
print(merged_df[merged_df['YEAR'] == 2019][['CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY']])

          CRS_ARR_TIME  ARR_TIME  ARR_DELAY  CRS_DEP_TIME  DEP_TIME  DEP_DELAY
61556964           NaN     722.0       -1.0           NaN     601.0        1.0
61556965           NaN    1633.0      -36.0           NaN    1359.0       -5.0
61556966           NaN    1329.0      -16.0           NaN    1215.0       -5.0
61556967           NaN    1625.0      -14.0           NaN    1521.0       -6.0
61556968           NaN    1940.0      -25.0           NaN    1847.0      -15.0
...                ...       ...        ...           ...       ...        ...
68978996           NaN    1731.0       52.0           NaN    1500.0       64.0
68978997           NaN    1533.0      -17.0           NaN    1414.0       -6.0
68978998           NaN     751.0      -34.0           NaN     652.0       -8.0
68978999           NaN    1248.0      -27.0           NaN     812.0       -1.0
68979000           NaN     722.0      -16.0           NaN     431.0        2.0

[7422037 rows x 6 columns]

In [ ]:
print("Summary Statistics for Object/Categorical Columns:")
df_raw.describe(include=['object', 'category'])

In [ ]:
df_raw['ARR_DELAY'].describe()

In [ ]:
print("Target Variable Analysis (ARR_DELAY):")
plt.figure(figsize=(12, 6))
sns.histplot(df_raw['ARR_DELAY'].dropna(), bins=200, kde=False) # Use more bins for detail
plt.title('Distribution of Arrival Delay (ARR_DELAY) - Raw Data')
plt.xlabel('Delay (minutes)')
plt.ylabel('Frequency')
plt.xlim(-100, 500) # Adjust x-limits to see the bulk of the distribution
plt.grid(axis='y', alpha=0.5)
plt.show()

In [ ]:
print("Missing Values per Column (%):")
missing_percent = (df_raw.isnull().sum() / len(df_raw)) * 100
print(missing_percent[missing_percent > 0].sort_values(ascending=False))

In [ ]:
print("Exploring Key Categorical Features (Examples):")
key_cats = ['OP_CARRIER', 'ORIGIN', 'DEST', 'DAY_OF_WEEK', 'MONTH', 'CANCELLED', 'DIVERTED', 'CANCELLATION_CODE']
for col in key_cats:
    if col in df_raw.columns:
        print(f"\n--- Column: {col} ---")
        print(f"  Number of Unique Values: {df_raw[col].nunique()}")
        print("  Value Counts (Top 10 or All if Few):")
        print(df_raw[col].value_counts(dropna=False).head(10 if df_raw[col].nunique() > 10 else df_raw[col].nunique()))

In [ ]:
print("Correlation Matrix (Numerical Columns):")
# Select only numerical columns for correlation calculation
numeric_df = df_raw.select_dtypes(include=np.number)
# Drop columns that are mostly identifiers or sparse indicators if necessary before correlation
cols_to_drop_for_corr = [col for col in ['Unnamed: 27', 'OP_CARRIER_FL_NUM'] if col in numeric_df.columns] # Example
if cols_to_drop_for_corr:
      numeric_df = numeric_df.drop(columns=cols_to_drop_for_corr)

correlation_matrix = numeric_df.corr()

print("\nCorrelations with ARR_DELAY:")
print(correlation_matrix['ARR_DELAY'].sort_values(ascending=False))

plt.figure(figsize=(15, 10))
sns.heatmap(correlation_matrix, cmap='coolwarm', annot=False) # annot=True is too crowded
plt.title('Correlation Matrix of Numerical Features')
plt.show()

In [ ]:
print("Visualizing Relationships (Examples):")
# Scatter plot: Departure Delay vs Arrival Delay
plt.figure(figsize=(8, 6))
# Sample data to avoid overplotting if the dataset is huge
sample_df = df_raw.sample(n=min(50000, len(df_raw)), random_state=42) # Sample 50k points or less
sns.scatterplot(data=sample_df, x='DEP_DELAY', y='ARR_DELAY', alpha=0.3)
plt.title('Departure Delay vs Arrival Delay (Sample)')
plt.xlabel('Departure Delay (minutes)')
plt.ylabel('Arrival Delay (minutes)')
plt.xlim(-50, 300) # Zoom in on common range
plt.ylim(-50, 300)
plt.grid(True)
plt.show()

In [ ]:
# Box plot: Arrival Delay by Carrier (Top N Carriers)
if 'OP_CARRIER' in df_raw.columns:
    top_carriers = df_raw['OP_CARRIER'].value_counts().nlargest(10).index.tolist()
    plt.figure(figsize=(14, 7))
    sns.boxplot(data=df_raw[df_raw['OP_CARRIER'].isin(top_carriers)], x='OP_CARRIER', y='ARR_DELAY', order=top_carriers, showfliers=False)
    plt.title('Arrival Delay Distribution by Carrier (Top 10)')
    plt.xlabel('Operating Carrier')
    plt.ylabel('Arrival Delay (minutes)')
    plt.ylim(-50, 150)
    plt.xticks(rotation=45)
    plt.grid(axis='y')
    plt.show()

In [ ]:
# Processing files from 2011 - 2019 due to memory restrictions.
files_to_process = [f'{year}.csv' for year in range(2011, 2020)] # 2011.csv to 2019.csv

print(f"Files to process: {files_to_process}")